<!doctype html>
<html class="bg-transparent">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>chat</title>
    <link rel="stylesheet" type="text/css" href="../../skin/default/css/main/main.css" id="skin" />
    <script src="../../script/language.js"></script>
</head>

<body class="bg-transparent">
    <div id="app">
      <template>
        <div class="redpacket-password-container">
          <div class="redpacket-password-box">
            <div class="close" @click="closeFrame"><img src="../../skin/default/images/icon/icon_close.png"></div>
            <div class="title" set-lang="text:please_enter_deal_password">请输入支付密码</div>
            <div class="amount">¥ <strong>{{pageParam.amount || '0.00'}}</strong></div>
            <!-- <div class="password-div">
              <input type="password" placeholder="请输入交易密码" set-lang="placeholder:please_enter_deal_password" v-model="password" @input="passwordInput">
            </div> -->
            <div class="password-box">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <div class="secret-box">
                <i v-for="(item,index) in password" :key="index"></i>
              </div>
            </div>
          </div>
          <div class="password-num" id="footer">
            <a @click="clickNum(1)">1</a>
            <a @click="clickNum(2)">2</a>
            <a @click="clickNum(3)">3</a>
            <a @click="clickNum(4)">4</a>
            <a @click="clickNum(5)">5</a>
            <a @click="clickNum(6)">6</a>
            <a @click="clickNum(7)">7</a>
            <a @click="clickNum(8)">8</a>
            <a @click="clickNum(9)">9</a>
            <a></a>
            <a @click="clickNum(0)">0</a>
            <a @click="delNum"><img src="../../skin/default/images/icon/icon_reback.png"></a>
          </div>
        </div>
      </template>
    </div>
</body>
<script src="../../script/jquery.min.js"></script>
<script src="../../script/api.js"></script>
<script src="../../script/public.js"></script>
<script src="../../script/vue.min.js"></script>
<script type="text/javascript">
    apiready = function() {
        api.parseTapmode();
        initEvent();
    }
    function initEvent(){
      var app = new Vue({
        el: '#app',
        data: {
          password: '',
          pageParam: api.pageParam
        },
        mounted: function(){

        },
        methods: {
          closeFrame: function(){
            api.closeFrame();
          },
          clickNum: function(val){
            if(this.password.length < 6){
              this.password = this.password + val
            }
            if(this.password.length == 6){
              if(this.pageParam.fid){
                this.redpacketPrivate();
              }else{
                this.redpacketGroup();
              }
            }
          },
          delNum: function(){
            if(this.password.length > 0){
              this.password = this.password.substring(0,this.password.length - 1)
            }
          },
          passwordInput: function(){
            if(this.password.length == 6){
              if(this.pageParam.fid){
                this.redpacketPrivate();
              }else{
                this.redpacketGroup();
              }
            }
          },
          redpacketPrivate: function(){
            var _this = this
            this.pageParam['paypass'] = this.password
            Pub.post(Pub.apiChat +'pack/single/pack', this.pageParam, function(res){
                if(res.code == 0){
                    Pub.eventSend('chat_window_load');
                    Pub.eventSend('close_chat_personal_home', {
                      id: _this.pageParam.fid
                    });
                    api.closeWin();
                }
            });
          },
          redpacketGroup: function(){
            var _this = this;
            this.pageParam['paypass'] = this.password
            if(this.pageParam.type == "common"){
              Pub.post(Pub.apiChat +'pack/group/pack', this.pageParam, function(res){
                  if(res.code == 0){
                    Pub.eventSend('chat_group_init');
                    Pub.eventSend('close_chat_group_home', {
                      id: _this.pageParam.gid
                    });
                      api.closeWin();
                  }
              });
            }else{
              Pub.post(Pub.apiChat +'pack/group/luck', this.pageParam, function(res){
                  if(res.code == 0){
                    Pub.eventSend('chat_group_init');
                    Pub.eventSend('close_chat_group_home', {
                      id: _this.pageParam.gid
                    });
                      api.closeWin();
                  }
              });
            }
          }
        }
      })
    }
</script>

</html>
