@charset "UTF-8";
/**
* 变量
**/
/**
* function
**/
html {
  font-size: 100vw !important;
}
@media screen and (max-width: 320px) {
  html {
    font-size: 64px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 108px;
  }
}
.border-radius-25 {
  -webkit-border-radius: 25%;
  border-radius: 25%;
}
.border-radius-50 {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.border-radius-full {
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.overflow-hidden {
  overflow: hidden;
}
.shade-black {
  background-color: rgba(0, 0, 0, 0.4);
}
.shade-white {
  background-color: rgba(255, 255, 255, 0.4);
}
.shade-white-light {
  background-color: rgba(255, 255, 255, 0.2);
}
.box-shadow-primary {
  -webkit-box-shadow: 0 2px 5px rgba(255, 128, 1, 0.5);
  box-shadow: 0 2px 5px rgba(255, 128, 1, 0.5);
}
.box-shadow-primary-mini {
  -webkit-box-shadow: 0 1px 2px rgba(255, 128, 1, 0.1);
  box-shadow: 0 1px 2px rgba(255, 128, 1, 0.1);
}
.transtion {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.translateY-50 {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.translate-50 {
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
@keyframes animateScale {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes smallToBig {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 0;
    height: 0;
  }
  100% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    opacity: 1;
    height: auto;
  }
}
@-webkit-keyframes rockLeftRight {
  0% {
    -webkit-transform: translateX(-0.015rem);
    transform: translateX(-0.015rem);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-0.015rem);
    transform: translateX(-0.015rem);
  }
}
@-webkit-keyframes rockRightLeft {
  0% {
    -webkit-transform: translateX(0.015rem);
    transform: translateX(0.015rem);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0.015rem);
    transform: translateX(0.02rem);
  }
}
@keyframes rockLeftRight {
  0% {
    left: -10px;
  }
  50% {
    left: 0;
  }
  100% {
    left: -10px;
  }
}
@keyframes rockRightLeft {
  0% {
    right: -10px;
  }
  50% {
    right: 0;
  }
  100% {
    right: -10px;
  }
}
@keyframes animationShow {
  0% {
    height: 0;
  }
  100% {
    height: auto;
  }
}
@keyframes voiceAnimate {
  0% {
    background: url(../../images/icon/icon_voice1.png) no-repeat;
    background-size: 100% 100%;
  }
  50% {
    background: url(../../images/icon/icon_voice2.png) no-repeat;
    background-size: 100% 100%;
  }
  100% {
    background: url(../../images/icon/icon_voice3.png) no-repeat;
    background-size: 100% 100%;
  }
}
@keyframes voiceAnimateReverse {
  0% {
    background: url(../../images/icon/icon_voice1.png) no-repeat;
    background-size: 100% 100%;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
  50% {
    background: url(../../images/icon/icon_voice2.png) no-repeat;
    background-size: 100% 100%;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
  100% {
    background: url(../../images/icon/icon_voice3.png) no-repeat;
    background-size: 100% 100%;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
}
.chat-voice-user {
  position: fixed;
  top: 0.26666667rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.chat-voice-user .avatar {
  width: 100%;
  text-align: center;
  height: 0.25333333rem;
}
.chat-voice-user .avatar img {
  width: 0.25333333rem;
  height: 0.25333333rem;
  -webkit-border-radius: 0.02rem;
  border-radius: 0.02rem;
}
.chat-voice-user .name {
  width: 100%;
  padding-top: 0.08rem;
  text-align: center;
  font-size: 0.05066667rem;
  color: #ffffff;
}
.chat-voice-user .desc {
  width: 100%;
  padding-top: 0.02666667rem;
  text-align: center;
  font-size: 0.04rem;
  color: rgba(255, 255, 255, 0.6);
}
.chat-voice-handle {
  position: fixed;
  bottom: 0.13333333rem;
  left: 0;
  width: 100%;
  height: 0.32rem;
  text-align: center;
  display: table;
}
.chat-voice-handle a {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  width: 33.3333333%;
}
.chat-voice-handle a:active {
  opacity: .9;
}
.chat-voice-handle a i {
  display: inline-block;
  width: 0.17066667rem;
  height: 0.17066667rem;
}
.chat-voice-handle a i.hangup {
  background: url(../../images/chat/icon_hangup.png) no-repeat;
  background-size: 100% 100%;
}
.chat-voice-handle a i.connent {
  background: url(../../images/chat/icon_connect.png) no-repeat;
  background-size: 100% 100%;
}
.chat-voice-handle a i.speek {
  background: url(../../images/chat/icon_speek.png) no-repeat;
  background-size: 100% 100%;
}
.chat-voice-handle a i.speek-no {
  background: url(../../images/chat/icon_speek_no.png) no-repeat;
  background-size: 100% 100%;
}
.chat-voice-handle a i.speek-no.active {
  background: url(../../images/chat/icon_speek_no_active.png) no-repeat;
  background-size: 100% 100%;
}
.chat-voice-handle a i.sound {
  background: url(../../images/chat/icon_sound.png) no-repeat;
  background-size: 100% 100%;
}
.chat-voice-handle a i.sound.active {
  background: url(../../images/chat/icon_sound_active.png) no-repeat;
  background-size: 100% 100%;
}
.chat-voice-handle a i.sound-no {
  background: url(../../images/chat/icon_sound_no.png) no-repeat;
  background-size: 100% 100%;
}
.chat-voice-handle a p {
  padding-top: 0.02666667rem;
  font-size: 0.03466667rem;
  color: #ffffff;
}
.chat-voice-status {
  position: fixed;
  bottom: 0.42666667rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 0.032rem;
  color: #ffffff;
}
.chat-voice-status p {
  padding-top: 0.00666667rem;
  padding-bottom: 0.00666667rem;
}
.chat-voice-status span {
  display: inline-block;
  height: 0.08rem;
  padding-left: 0.02666667rem;
  padding-right: 0.02666667rem;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 0.032rem;
  color: #ffffff;
  line-height: 0.08rem;
  -webkit-border-radius: 0.00666667rem;
  border-radius: 0.00666667rem;
}
.chat-video-user {
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding-left: 0.04rem;
  padding-right: 0.04rem;
  padding-bottom: 0.04rem;
  margin-top: 0.04rem;
  display: table;
}
.chat-video-user .user-box {
  width: 100%;
  display: table;
}
.chat-video-user .user-box .avatar {
  display: table-cell;
  vertical-align: middle;
  width: 0.26666667rem;
}
.chat-video-user .user-box .avatar img {
  width: 0.24rem;
  height: 0.24rem;
  -webkit-border-radius: 0.01333333rem;
  border-radius: 0.01333333rem;
}
.chat-video-user .user-box .info {
  display: table-cell;
  vertical-align: middle;
  padding-left: 0.02666667rem;
  text-align: left;
}
.chat-video-user .user-box .info .name {
  font-size: 0.056rem;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.chat-video-user .user-box .info .desc {
  width: 100%;
  padding-top: 0.02666667rem;
  font-size: 0.04rem;
  color: #ffffff;
}
.chat-video-status {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 0.032rem;
  color: #ffffff;
}
.chat-video-status p {
  padding-top: 0.00666667rem;
  padding-bottom: 0.00666667rem;
}
.chat-video-status span {
  display: inline-block;
  height: 0.08rem;
  padding-left: 0.02666667rem;
  padding-right: 0.02666667rem;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 0.032rem;
  color: #ffffff;
  line-height: 0.08rem;
  -webkit-border-radius: 0.00666667rem;
  border-radius: 0.00666667rem;
}
.chat-video-handle {
  width: 100%;
  height: 0.32rem;
  text-align: center;
  display: table;
}
.chat-video-handle a {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  width: 33.3333333%;
}
.chat-video-handle a:active {
  opacity: .9;
}
.chat-video-handle a i {
  display: inline-block;
  width: 0.17066667rem;
  height: 0.17066667rem;
}
.chat-video-handle a i.hangup {
  background: url(../../images/chat/icon_hangup.png) no-repeat;
  background-size: 100% 100%;
}
.chat-video-handle a i.connent {
  background: url(../../images/chat/icon_connect.png) no-repeat;
  background-size: 100% 100%;
}
.chat-video-handle a i.video-connent {
  background: url(../../images/chat/icon_video_connect.png) no-repeat;
  background-size: 100% 100%;
}
.chat-video-handle a i.speek {
  background: url(../../images/chat/icon_speek.png) no-repeat;
  background-size: 100% 100%;
}
.chat-video-handle a i.camera {
  background: url(../../images/chat/icon_camera.png) no-repeat;
  background-size: 100% 100%;
}
.chat-video-handle a i.speek-no {
  background: url(../../images/chat/icon_speek_no.png) no-repeat;
  background-size: 100% 100%;
}
.chat-video-handle a i.speek-no.active {
  background: url(../../images/chat/icon_speek_no_active.png) no-repeat;
  background-size: 100% 100%;
}
.chat-video-handle a i.sound {
  background: url(../../images/chat/icon_sound.png) no-repeat;
  background-size: 100% 100%;
}
.chat-video-handle a i.sound.active {
  background: url(../../images/chat/icon_sound_active.png) no-repeat;
  background-size: 100% 100%;
}
.chat-video-handle a i.sound-no {
  background: url(../../images/chat/icon_sound_no.png) no-repeat;
  background-size: 100% 100%;
}
.chat-video-handle a p {
  padding-top: 0.02666667rem;
  font-size: 0.03466667rem;
  color: #ffffff;
}
.chat-video-group-member {
  display: table;
  width: 100%;
  height: 0.37333333rem;
  padding-left: 0.04rem;
  padding-right: 0.04rem;
  padding-top: 0.02666667rem;
  padding-bottom: 0.02666667rem;
  text-align: center;
}
.chat-video-group-member .video-member {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.chat-video-group-member .video-member a {
  display: inline-block;
  margin: 0.01333333rem;
}
.chat-video-group-member .video-member a img {
  width: 0.12666667rem;
  height: 0.12666667rem;
  -webkit-border-radius: 0.01333333rem;
  border-radius: 0.01333333rem;
}
.chat-voice-group-search {
  width: 100%;
  padding: 0.02rem;
}
.chat-voice-group-search .search-box {
  position: relative;
  width: 100%;
  height: 0.13333333rem;
  border-bottom: 1px solid #9e9e9f;
  padding-left: 0.10666667rem;
  padding-right: 0.02666667rem;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .chat-voice-group-search .search-box {
    border-bottom: 0.5px solid #9e9e9f;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .chat-voice-group-search .search-box {
    border-bottom: 1px solid #9e9e9f;
  }
}
.chat-voice-group-search .search-box::before {
  position: absolute;
  top: 50%;
  left: 0.02666667rem;
  display: block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  width: 0.048rem;
  height: 0.048rem;
  background: url(../../images/chat/icon_search_white.png) no-repeat;
  background-size: 100% 100%;
}
.chat-voice-group-search .search-box input {
  color: #ffffff;
  font-size: 0.04rem;
}
.chat-voice-group-search .search-box input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.chat-voice-member-list {
  width: 100%;
  padding-left: 0.04rem;
  padding-right: 0.04rem;
}
.chat-voice-member-list .item {
  display: table;
  width: 100%;
  vertical-align: middle;
  padding-top: 0.02666667rem;
  padding-bottom: 0.02666667rem;
  border-bottom: 1px solid #888787;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .chat-voice-member-list .item {
    border-bottom: 0.5px solid #888787;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .chat-voice-member-list .item {
    border-bottom: 1px solid #888787;
  }
}
.chat-voice-member-list .item.active .check::before {
  background: url(../../images/chat/icon_choose_active.png) no-repeat;
  background-size: 100% 100%;
}
.chat-voice-member-list .item .avatar {
  display: table-cell;
  vertical-align: middle;
  width: 0.12rem;
}
.chat-voice-member-list .item .avatar img {
  width: 0.10666667rem;
  height: 0.10666667rem;
  -webkit-border-radius: 0.01333333rem;
  border-radius: 0.01333333rem;
}
.chat-voice-member-list .item .name {
  display: table-cell;
  vertical-align: middle;
  padding-left: 0.01333333rem;
  font-size: 0.04266667rem;
  color: #ffffff;
}
.chat-voice-member-list .item .check {
  display: table-cell;
  width: 0.088rem;
  text-align: center;
  vertical-align: middle;
}
.chat-voice-member-list .item .check::before {
  display: inline-block;
  margin-top: 0.01333333rem;
  content: '';
  width: 0.048rem;
  height: 0.048rem;
  background: url(../../images/chat/icon_choose.png) no-repeat;
  background-size: 100% 100%;
}
.chat-voice-group-avatar {
  width: 100%;
  overflow: hidden;
  padding-top: 0.13333333rem;
  padding-left: 0.08rem;
  padding-right: 0.08rem;
  padding-bottom: 0.08rem;
}
.chat-voice-group-avatar a {
  position: relative;
  display: inline-block;
  margin: 0.01333333rem;
  -webkit-border-radius: 0.01333333rem;
  border-radius: 0.01333333rem;
  overflow: hidden;
}
.chat-voice-group-avatar a img {
  display: block;
  width: 0.24rem;
  height: 0.24rem;
  -webkit-border-radius: 0.01333333rem;
  border-radius: 0.01333333rem;
}
.chat-voice-group-avatar a span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.04rem;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 0.04rem;
  font-size: 0.032rem;
  color: #ffffff;
}
