<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../skin/default/css/main/main.css" id="skin" />
    <script src="../../script/language.js"></script>
</head>
<body ontouchstart="">
  <div id="app">
    <template>
      <div class="change-form">
        <div class="form-info">
          <h3>我的易聊号-{{uid}}</h3>
          <p>{{lang.Please_keep_the_verification_code_carefully}}</p>
        </div>
        <div class="form-box">
          <div class="item">
            <div class="input"><input type="password" :placeholder="lang.please_enter_deal_password" v-model="password"></div>
          </div>
          <div class="item">
            <div class="input"><input type="password" :placeholder="lang.Please_confirm_payment_password" v-model="passwordConfirm"></div>
          </div>
          <div class="item">
            <div class="input"><input type="tel" :placeholder="lang.verification_code" v-model="code"></div>
            <div :class="['handle',{'disabled': isDisabled}]"><a @click="getCode" tapmode>{{verifyTxt}}</a></div>
          </div>
          <div :class="['btn',{'disabled': registerDisabled}]" tapmode @click="clickSubmit">{{lang.confirm}}</div>
        </div>
      </div>
    </template>
  </div>
</body>
<script src="../../script/jquery.min.js"></script>
<script src="../../script/api.js"></script>
<script src="../../script/public.js"></script>
<script src="../../script/vue.min.js"></script>
<script type="text/javascript">
    apiready = function() {
        api.parseTapmode();
        initEvent();
    }
    function initEvent(){
      var app = new Vue({
        el: '#app',
        data: {
          uid: $api.getStorage('uid'),
          mobile: '',
          nickname: '',
          verifyTxt: Pub.getLang("get_verify_code"),
          isDisabled: false,
          registerDisabled: false,
          code: '',
          timer: null,
          count: '',
          countNum: 60,
          countryCode: '86',
          password: '',
          passwordConfirm: '',
          lang:{
            please_enter_deal_password: Pub.getLang("please_enter_deal_password"),
            Please_confirm_payment_password: Pub.getLang("Please_confirm_payment_password"),
            verification_code: Pub.getLang("verification_code"),
            confirm: Pub.getLang("confirm"),
            my: Pub.getLang("my"),
            Please_keep_the_verification_code_carefully: Pub.getLang("Please_keep_the_verification_code_carefully"),
          }
        },
        mounted: function(){
          var _this = this;
          this.count = $api.getStorage('change_paypass_verify_count');
          if(this.count){
            this.countDown();
          }
          Pub.eventListen("verify_code_success",function(res){
            Pub.msg(Pub.getLang('msg_sended'));
            $api.setStorage('change_paypass_verify_count', 60);
            _this.countDown();
          })
        },
        methods: {
          toRegistr: function(){
            Pub.openView('./register_win');
          },
          mobileInit: function(){
            $("#mobile").intlTelInput({
                preferredCountries: ['cn'],
              // allowDropdown: false,
              // autoHideDialCode: false,
              // autoPlaceholder: "off",
              // dropdownContainer: "body",
              // excludeCountries: ["us"],
              // formatOnDisplay: false,
               geoIpLookup: function(callback) {
               },
              // initialCountry: "auto",
              // nationalMode: false,
              // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
              // placeholderNumberType: "MOBILE",
              // preferredCountries: ['cn', 'jp'],
              // separateDialCode: true,
              utilsScript: ""
            });
            $("#mobile").on("countrychange", function(e, countryData) {
              console.log(JSON.stringify(countryData))
              _this.countryCode = countryData.dialCode;
              // do something with countryData
            });
          },
          mobileInput: function(){
            var _this = this;
            setTimeout(function(){
              _this.mobile = Pub.strSpace(_this.mobile.replace(/\D/g, ''), [3, 7, 11, 15], ' ');
            },100);
          },
          getCode: function(){
            var _this = this;
            if(!this.isDisabled){
              $(".input").blur();
              setTimeout(function(){
                Pub.openFrame('../login/pop_verify_img_frm',{},{pageParam: {isLogin: true},bgColor: 'rgba(0,0,0,0.5)',bounces: false});
              },1000)
              // Pub.post('user/send_code', {}, function(res){
              //     if(res.code == 0){
              //       Pub.msg(Pub.getLang('msg_sended'));
              //       $api.setStorage('change_paypass_verify_count', 60);
              //       _this.countDown();
              //     }else{
              //       this.isDisabled = false;
              //       Pub.msg(Pub.getLang('msg_send_fail'));
              //     }
              // });

            }
          },
          countDown(){
            var _this = this;
            if(!this.timer){
              this.count = $api.getStorage('change_paypass_verify_count') || this.countNum;
              console.log(this.count);
              Pub.eventSend('change_payment_password_time', {
                time: _this.count*1000
              });
              this.timer = setInterval(function(){
                if(_this.count > 0 && _this.count <= _this.countNum){
                  _this.count--;
                  $api.setStorage('change_paypass_verify_count', _this.count);
                  if(_this.count !== 0){
                    _this.isDisabled = true;
                    _this.verifyTxt = '' + _this.count +'S';
                  }else{
                    clearInterval(_this.timer);
                    _this.verifyTxt = Pub.getLang('get_verify_code');
                    _this.timer = null;
                    _this.isDisabled = false;
                    $api.setStorage('change_paypass_verify_count', '');
                  }
                }
              }, 1000);
            }
          },
          clickSubmit: function(){
            var _this = this;
            if(!this.code) return Pub.msg(Pub.getLang("please_enter_verification_code"));
            if(!this.password) return Pub.msg(Pub.getLang("please_enter_deal_password"));

            if(!Pub.regex.rgPayPassword.test(this.password)) return Pub.msg(Pub.getLang("please_enter_number_password"));
            if(!this.passwordConfirm) return Pub.msg(Pub.getLang("Please_confirm_payment_password"));
            if(this.passwordConfirm != this.password) return Pub.msg(Pub.getLang("confirm_newpassword_is_diff"));
            var params = {
              new_pass: this.password,
              code	: this.code,
            }
            Pub.post('user/auth/change_paypass2', params, function(res){
                _this.registerDisabled = false;
                if(res.code == 0){
                  _this.password = '';
                  _this.passwordConfirm = '';
                  _this.code = '';
                  Pub.msg(res.echo);
                  Pub.timeoutDo(function(){
                    api.closeWin();
                  });
                }else{
                  Pub.msg(res.echo);
                }
            });
          }
        }
      })
    }
</script>

</html>
